@import url(https://fonts.googleapis.com/css?family=Black+Han+Sans);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);



body {

  text-align: center;
  /*background-color: #ffa500;*/
  /*background-color: #0093D1;*/
  /*background-color: #1C1C1C;*/
  font-family: 'Ubuntu';

}

#graph{
	    max-height: 200px;
    overflow: hidden;
}