.App {
  /*text-align: center;*/
}

.summary-box{
  font-size:20px;
}

.summary-text {
    vertical-align:top;
    text-align:justify;
}

textarea {
  height:30em;
  width:50em;
  resize:none;

}

.App { 
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: lightblue;
    text-align: center;
}

.form_wrapper {
    position: relative;
    top: calc(50% - 1em);
}



#left {
  position:absolute;
  left: 10px;
  top:30px;
  word-wrap: break-word;
  white-space: pre-line;
}

#right {
  float:right;
  position:absolute;
  right: 10px;
  top:30px;
}

input {
  width:500px;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/