@import url(https://fonts.googleapis.com/css?family=Black+Han+Sans);

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display:table;
    font-family:'Black Han Sans';
}
body {
    display:table-cell;
    vertical-align:middle;
}

.mytext {
    width: 300px;
}

.sentences {
	width:20px;
}



