/*@import url(https://fonts.googleapis.com/css?family=Josefin+Slab); */
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import  url(https://fonts.googleapis.com/css?family=Montserrat);



/*==========  Structure  ==========*/
.btn-push {
  position: relative;
  top: 0px;
  font-family: "Montserrat";
  text-decoration: none;
  font-size: 25px;
  background: #f7f7f7;
  padding: 15px 50px;
  margin: 0 10px;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 0px #c4c4c4;
  -moz-box-shadow: 0px 3px 0px #c4c4c4;
  -ms-box-shadow: 0px 3px 0px #c4c4c4;
  -o-box-shadow: 0px 3px 0px #c4c4c4;
  box-shadow: 0px 3px 0px #c4c4c4;
  color: #222;
  text-shadow: 1px 1px 1px #fff;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;
}
/*==========  Active State  ==========*/
.btn-push:active {
  position: relative;
  top: 5px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;
}


.btn-push.blue {
  background: #A15F47;
  color: #fff;
  border: 1px solid #ffc4bc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 0px #ffc4bc;
  -moz-box-shadow: 0px 3px 0px #ffc4bc;
  -ms-box-shadow: 0px 3px 0px #ffc4bc;
  -o-box-shadow: 0px 3px 0px #ffc4bc;
  box-shadow: 0px 3px 0px #ffc4bc;
  text-shadow: 1px 1px 1px #ffc4bc;
}


/* end button css */

ul {
text-align:center;
list-style-type: none;
color:#998E81;
font-family: "Montserrat";
padding-left: 120px;
padding-right:120px;


}



.summary-stats-text {
	 color: #ffcb1e;
   font-family: "Montserrat";

}

p.summary-stats-text {
	color:#998E81
}

p.summary-subheading {
  color: #A15F47;
  font-family: "Montserrat";
}




